# Data Wrangling: Joining Baseline Data and Income Data

This notebook joins baseline data ('combined_input_data.csv') and income data crawled from the Philippines statistics webpage.

In [1]:
# handling dataframes and csv files
import pandas as pd
import csv
import numpy as np

## Importing the datasets

In [3]:
# reading data files

path_base_data = '/Users/masinde/Projects/causal-fairness-Philippines-drrm/data/combined_input_data.csv'
path_inc_data = '/Users/masinde/Projects/causal-fairness-Philippines-drrm/data/ph_income_cls.csv'


## baseline data (municipality data)
base_df = pd.read_csv(path_base_data)

## income class data
inc_df = pd.read_csv(path_inc_data)

/opt/homebrew/anaconda3/envs/py3-12-5/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [5]:
# first 5 rows of base_df
base_df.head(3)

,Mun_Code,typhoon,HAZ_rainfall_Total,HAZ_rainfall_max_6h,HAZ_rainfall_max_24h,HAZ_v_max,HAZ_dis_track_min,GEN_landslide_per,GEN_stormsurge_per,GEN_Bu_p_inSSA,...,VUL_StrongRoof_SalvageWall,VUL_LightRoof_StrongWall,VUL_LightRoof_LightWall,VUL_LightRoof_SalvageWall,VUL_SalvagedRoof_StrongWall,VUL_SalvagedRoof_LightWall,VUL_SalvagedRoof_SalvageWall,VUL_vulnerable_groups,VUL_pantawid_pamilya_beneficiary,DAM_perc_dmg
0,PH175101000,durian2006,185.828571,14.716071,7.381696,55.032241,2.478142,2.64,6.18,6.18,...,0.097425,2.533055,41.892832,1.002088,0.000000,0.027836,0.083507,2.951511,46.931106,3.632568
1,PH030801000,durian2006,28.487500,1.893750,1.070833,23.402905,136.527982,0.78,40.87,40.80,...,0.118842,0.248487,2.182368,0.000000,0.000000,0.010804,0.010804,0.867603,8.967156,NaN
2,PH083701000,durian2006,8.818750,0.455208,0.255319,8.728380,288.358553,0.06,0.00,0.00,...,0.850008,1.218595,13.645253,0.549120,0.030089,0.090266,0.112833,3.338873,25.989168,NaN

In [7]:
# first 5 rows of inc_df
inc_df.head(5)

,Unnamed: 0,Municipality,10 Digit Code,Correspondence Code,Income Class,Population(2020 Census)
0,0,Pateros,1381701000,137606000.0,1st,"65,227"
1,1,Bangued,1400101000,140101000.0,1st,"50,382"
2,2,Boliney,1400102000,140102000.0,5th,"4,551"
3,3,Bucay,1400103000,140103000.0,5th,"17,953"
4,4,Bucloc,1400104000,140104000.0,6th,"2,395"

In [9]:
# first 5 rows of admin_bounds_DF
admin_bounds_DF.head(5)

,ADM4_EN,ADM4_PCODE,ADM4_REF,ADM3_EN,ADM3_PCODE,ADM2_EN,ADM2_PCODE,ADM1_EN,ADM1_PCODE,ADM0_EN,ADM0_PCODE,date,validOn,validTo,AREA_SQKM
0,Adams (Pob.),PH0102801001,NaN,Adams,PH0102801,Ilocos Norte,PH01028,Region I (Ilocos Region),PH01,Philippines (the),PH,2022-11-09,2023-11-06,NaN,111.143026
1,Bani,PH0102802001,NaN,Bacarra,PH0102802,Ilocos Norte,PH01028,Region I (Ilocos Region),PH01,Philippines (the),PH,2022-11-09,2023-11-06,NaN,1.759757
2,Buyon,PH0102802002,NaN,Bacarra,PH0102802,Ilocos Norte,PH01028,Region I (Ilocos Region),PH01,Philippines (the),PH,2022-11-09,2023-11-06,NaN,3.872158
3,Cabaruan,PH0102802003,NaN,Bacarra,PH0102802,Ilocos Norte,PH01028,Region I (Ilocos Region),PH01,Philippines (the),PH,2022-11-09,2023-11-06,NaN,2.985220
4,Cabulalaan,PH0102802004,NaN,Bacarra,PH0102802,Ilocos Norte,PH01028,Region I (Ilocos Region),PH01,Philippines (the),PH,2022-11-09,2023-11-06,NaN,1.017535

In [11]:
# data types of the vars in dataframe inc_df?
inc_df.dtypes

Unnamed: 0                   int64
Municipality                object
10 Digit Code                int64
Correspondence Code        float64
Income Class                object
Population(2020 Census)     object
dtype: object

In [13]:
# changing types of column population 
#inc_df.astype({'Municipality': 'str'}, {'Income Class': 'str'}, {'Population(2020 Census)': 'int64'}).dtypes

## first strip removing commas
inc_df['Population(2020 Census)'] = inc_df['Population(2020 Census)'].str.replace(',', '')

## convert population to int
#inc_df.astype({'Population(2020 Census)': 'int64'}).dtypes
#inc_df['Population(2020 Census)'].astype(str).astype(int)

inc_df['Population(2020 Census)'] = pd.to_numeric(inc_df['Population(2020 Census)'])

print(inc_df.head(3))

print(inc_df.dtypes)

   Unnamed: 0 Municipality  10 Digit Code  Correspondence Code Income Class  \
0           0      Pateros     1381701000          137606000.0          1st
1           1     Bangued      1400101000          140101000.0          1st
2           2      Boliney     1400102000          140102000.0          5th

   Population(2020 Census)
0                    65227
1                    50382
2                     4551
Unnamed: 0                   int64
Municipality                object
10 Digit Code                int64
Correspondence Code        float64
Income Class                object
Population(2020 Census)      int64
dtype: object

# NOTE!!
'Correspondence Code' (in inc_df) matches with 'Mun Code' (in base_data)

In [ ]:
# type casting throws error if there are nan
nan_rows = inc_df[inc_df['Correspondence Code'].isnull()]

print(nan_rows)

In [ ]:
# remove NAN's in inc_df
inc_df = inc_df.dropna()

len(inc_df)

In [ ]:
# THIS CODE THROWS AN ERROR
# changing data type of 'Correspondence Code' to string
#inc_df['Correspondence Code'] = inc_df['Correspondence Code'].astype(int).astype(str)

# to integer
#inc_df['Correspondence Code'] = inc_df['Correspondence Code'].astype(int)
#base_df['Mun_Code_2']  = base_df['Mun_Code_2'].astype(int)

#print(inc_df.dtypes)

#print(base_df.dtypes)

In [ ]:
print(inc_df['Correspondence Code'])

In [ ]:
# change municipality code to digits

base_df['Mun_Code_2'] = base_df['Mun_Code'].str.strip('PH')

base_df['Mun_Code_2']  = base_df['Mun_Code_2'].astype(int)

print(base_df['Mun_Code_2'].head(5))

In [ ]:
# add municipality name, income class, and population to base_df
base_df_merge = pd.merge(base_df, inc_df, how = 'left', left_on = 'Mun_Code_2', right_on = 'Correspondence Code')

base_df_merge.head(5)

After join let's check the row match

In [ ]:
# length 
len(base_df_merge)

In [ ]:
len(base_df)

In [ ]:
# are there any missing ...
nan_rows = base_df_merge[base_df_merge['Correspondence Code'].isnull()]

print(nan_rows)

In [ ]:
print(base_df.loc[[75]])

So after merging we lose 682 rows (observations) because they do not have a common. So we lose approx 134 municipalities.

In [ ]:
# but how many of the municipality codes are duplicates?
len(nan_rows['Mun_Code_2'].unique())

## Export joined dataframe

In [ ]:
path_2_write = '/Users/masinde/Projects/causal-fairness-Philippines-drrm/data/base_inc_data.csv'

base_df_merge.to_csv(path_2_write, index=False)